#body {
    display: flex;
    background-color: #d7cfa0;
    height: 600px;
    width: 1000px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.difussers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.productName{
    margin: 0;
}

.productPrice{
    margin: 0;
    color: #726a47;
}

.difusorgral {
    height: 400px;
    width: 350px;
}